
/* for paragraph */
.markdown-preview-view.hébreu h6 {
  font-size: 1.8em;
  position: relative;
  top: 2.25em;
  margin-top: -2.5em;
  right: 0;
}

/* for paragraph */
.markdown-preview-view.hébreu p {
  font-size: 1.5em;
  padding-right: 3em;
}